VITE_MAPBOX_TOKEN=pk.replace_with_your_public_token
VITE_MAPBOX_STYLE=mapbox://styles/linroger023/cmoo6ced0003m01sa25xq2hig
OB_HOST=127.0.0.1
OB_PORT=2881
OB_USER=root
OB_DATABASE=chinahsr
OB_PASSWORD=replace_with_local_oceanbase_password
CHINAHSR_WORKERS=12
